{% extends 'base.html.twig' %}

{% block title %}Les réponses{% endblock %}

{% block body %}

  {% for question in app.flashes('success') %}
    <div class="alert alert-success m-3">
      {{ question }}
    </div>
  {% endfor %}

  <div class="m-3 p-3 border border-3 border-dark bg-light shadow-lg rounded-2">
    <h1>"{{ question.titre }}"</h1>
    <h2>de <span class="fst-italic text-secondary"><u>{{ question.utilisateur.nom }}</u></span></h2>
    <small class="text-end d-block fst-italic">Posté le {{ question.dateCreation|date("d/m/Y") }}</small>
    <p class="m-3 p-3 border border-dark rounded-2 shadow"> {{ question.contenu }}</p>
  </div>  

  {% if reponses == null %}
    <p class=" m-3 p-3 border text-center rounded-2 shadow bg-light"> Il n'y pas encore de réponse. Soyez le premier à répondre à cette question!</p>
  {% endif %}

  <div class="m-3">
    {{ form_errors(answerForm) }}
    
    {% if app.user %}
      {% include 'reponse/_reponseForm.html.twig' with {
        form: answerForm,
        labelButton: 'Poster ma réponse'
      } %}
    {% else %}
      <p class="text-center"> Veuillez vous <a href="{{path('app_login')}}">connecter</a> ou vous <a href="{{path('app_register')}}">inscrire</a> pour répondre à cette question</p>
    {% endif %}
  </div>
  
  {% for reponse in reponses %}
    <div class="container mx-auto mb-2 p-3 border  rounded-2 shadow 
    {% if question.utilisateur.id == reponse.utilisateur.id %}
      text-light border-4 border-danger bg-secondary
    {% else %}
      border-dark bg-light
    {% endif %}
    ">
      <div class="row">
        <div class="col-3">
          <img src="{{asset(reponse.utilisateur.avatar)}}" >
          <p class="fw-bold fst-italic"> {{ reponse.utilisateur.nom}}</p>
          {% if question.utilisateur.id == reponse.utilisateur.id %}
            <small class=" badge rounded-pill mb-2 text-bg-danger"> Auteur de la question</small>
          {% endif %}
          <small class="fst-italic d-block"> Posté le {{ reponse.dateCreation|date("d/m/Y") }}</small>
          {% if reponse.dateEdit is not null %}
          <small class="fst-italic d-block"> Modifié le {{ reponse.dateEdit|date("d/m/Y à H:i:s") }}</small>
          {% endif %}
        </div>        
        <div class="col-7 align-self-center">
          - {{reponse.contenu}}
        </div>
        {# condition if normale #}
        {# {% if reponse.utilisateur is same as(app.user) %} #}
        {% if is_granted('REPONSE_VIEW', reponse) %}
          <div class="col-2">
            <a class="d-block btn btn-primary my-3" href="{{path('edit_reponse',{id:reponse.id})}}">Modifier</a>
            <a class="d-block btn btn-danger" href="{{path('delete_reponse', {id:reponse.id})}}">Supprimer</a>
          </div>
        {% endif %}
      </div>
    </div>  
  {% endfor %}
 

{% endblock %}
